@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1b263b;
  --color-primary-content: #f3f4f6;
  --color-secondary: #f3722c;
  --color-tertiary: #415a77;
  --color-secondary-content: #f3f4f6;
  --color-accent: #e0e1dd;
  --color-base-100: #f3f4f6;
  --color-base-content: #374151;
}

@font-face {
  font-family: Inter;
  src: url("../../5_shared/assets/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

:root {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: Inter;
}
